body {
  background-color: #504A4B;
  color: #4CC552;
  text-align: center;
}
li {
  list-style: none;
  display: inline-block;
}
.section {
  display: inline-block;
  border-radius: 30px; 
  height: 100%;
  width: 100%;
}
.fill { 
    min-height: 100%;
    height: 100%;
}